body {
  background-size: cover;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: rgb(228, 218, 218);
  background: linear-gradient(123deg, rgb(55, 213, 198) 0%, rgb(6, 89, 78) 100%);
  background-attachment: fixed;
}
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
.glassmorphism {
  width: 520px;
  height: 520px;
  position: relative;
}
.weather-box {
  background: rgba(255,255,255,0.3);
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}
.weather-box h1 {
  font-size: 100px;
  text-align: right;
  margin-top: 0;
  color: transparent;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.weather-box p {
  font-size: 30px; 
  color: #fff;
}
.location {
  color: #ddd;
}
.drop {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.drop-2 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  left: 80px;
  z-index: -1;
}
.drop-3 {
  height: 120px;
  width: 120px;
  bottom: 120px;
  right: -60px;
}
.drop-4 {
  height: 60px;
  width: 60px;
  top: -26px;
  right: 75px;
} 